/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: "Insta";
  src: url(./SCSS/Coco.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.logo {
  font-family: "Insta";
}

.min-height {
  min-height: 100vh;
}

.bg-grad-1 {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.bg-grad-2 {
  background-image: linear-gradient(
    243.4deg,
    rgba(0, 215, 206, 1) 13%,
    rgba(0, 132, 255, 1) 98%
  );
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.mini-profile{
  height: 40px;
  width: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}

.postHolder {
  column-count: 3;
  column-gap: 10px;
}

.postCard {
  width: 100%;
  /* max-height: 80vh; */
  overflow: hidden;
  display: inline-block;
  margin: 5px 0px;
}

.type {
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .profile-title {
    text-align: center;
  }

  .post-img {
    width: 100%;
    max-height: 85vh;
  }

  .postHolder {
    column-count: 1;
    column-gap: 0px;
  }

  .postCard {
    width: 100%;
    /* max-height: 80vh; */
    overflow: hidden;
    display: inline-block;
  }
}
