@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Insta";
  src: url(./SCSS/Billabong.woff);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

.logo {
  font-family: "Insta";
}

.min-height {
  min-height: 100vh;
}

.bg-grad-1 {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.bg-grad-2 {
  background-image: linear-gradient(
    243.4deg,
    rgba(0, 215, 206, 1) 13%,
    rgba(0, 132, 255, 1) 98%
  );
}

.profile-pic {
  width: 100%;
}

.post {
  width: 80%;
  height: 300px;
}
.post-img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .profile-pic {
    width: 50%;
  }
  .profile-title {
    text-align: center;
  }
  .post {
    width: 50%;
    height: 50%;
  }
}
